{% extends '_emailregister-base.html.twig' %}

{% import 'helpers/email-macros.html.twig' as macros %}

{% block title %}{{ fields.title }}{% endblock %}

{% block body %}
    {{ macros.title('form.register.email.title'|trans, emailConfig) }}
    {{ macros.spaceRow(30) }}
    {% set salute = 'ยก' ~ 'Hello'|trans ~ ', ' ~ fields.name ~ '!' %}
    {{ macros.text(salute, emailConfig) }}
    {{ macros.spaceRow(14) }}
    {{ macros.text('form.register.email.text'|trans, emailConfig) }}
    {{ macros.spaceRow(40) }}
    <tr>
        <td align="center">
            {% include 'components/_emailbutton.html.twig' with {
                link: fields.oneTimeLoginUrl,
                label: 'form.register.email.cta'|trans
            } %}
        </td>
    </tr>
    {{ macros.spaceRow(50) }}
    {{ macros.note('form.register.email.legal'|trans, emailConfig) }}
    {{ macros.spaceRow(56) }}
{% endblock %}
