{% extends 'templates/email-container.html.twig' %}

{% import 'helpers/email-macros.html.twig' as macros %}

{% block contentStyle %} bgcolor="{{ emailConfig.footer.background }}" {% endblock %}
{% block content %}
    <tr>
        <td align="center" width="500">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="{{ emailConfig.footer.background }}">
                <tr>
                    <td align="center">
                        {% import 'components/email-social-networks.html.twig' as macros %}
                    </td>
                </tr>
                {{ macros.spaceRow(25) }}
                {% set privacyPolicyUrl = path('entity.node.canonical', { 'node': 2615 }) %}
                {% set siteName = 'Club familias'|t %}
                {% set termsCopy = 'Para más información, consulta nuestros'|t ~  ' <a href="' ~ privacyPolicyUrl ~ '" style="' ~ emailConfig.link.styles ~ '">' ~ 'Términos y condiciones Club familias'|t ~ '</a>' %}
                {% set copyright = 'Copyright © Ordesa ' ~ 'now'|date('Y') %}.

                {{ macros.note(siteName, emailConfig, 'text-align: center; padding: 0 25px;') }}
                {{ macros.note(termsCopy, emailConfig, 'text-align: center; padding: 0 25px;') }}
                {{ macros.note(copyright, emailConfig, 'text-align: center; padding: 0 25px;') }}
            </table>
        </td>
    </tr>
    {{ macros.spaceRow(40, 3) }}
{% endblock %}
